#container {
    width: 100%;
    height: 100%;

    #account-manage {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        #workspace-name {
            width: 100%;
            font-size: 1.5em;
            font-weight: 600;
            color: #92e3a9;
            display: flex;
            justify-content: center;

            .material-symbols-outlined {
                cursor: pointer;
            }
        }

        #ava {
            height: 40px;
            width: 40px;
            margin-bottom: 8px;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    #bottom_sidebar {
        float: inline-end;
    }
}

button.mat-menu-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    img {
        margin: auto 0;
        border-radius: 10px;
    }

    #add_icon {
        color: #92e3a9;
        margin: auto 0;
    }

    .mat-icon {
        height: 40px;
        width: 40px;
    }

    .material-icons {
        font-size: 40px;
    }
}


::ng-deep .mat-menu-content:not(:empty) {
    padding: 0 !important;
}